<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <title>PIC</title>
  </head>

  <body>
    <div class="container">
      <div class="row mt-3">
        <div class="col-4">
          <div class="d-flex align-items-start">
            <div
              class="nav flex-column nav-pills me-3"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <button
                class="nav-link active text-start"
                id="v-pills-cpu-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-cpu"
                type="button"
                role="tab"
                aria-controls="v-pills-cpu"
                aria-selected="true"
              >
                CPU
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-red-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-red"
                type="button"
                role="tab"
                aria-controls="v-pills-red"
                aria-selected="false"
              >
                Red
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-audio-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-audio"
                type="button"
                role="tab"
                aria-controls="v-pills-audio"
                aria-selected="false"
              >
                Audio
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-graficos-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-graficos"
                type="button"
                role="tab"
                aria-controls="v-pills-graficos"
                aria-selected="false"
              >
                Graficos
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-memoria-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-memoria"
                type="button"
                role="tab"
                aria-controls="v-pills-memoria"
                aria-selected="false"
              >
                Memoria
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-perifericos-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-perifericos"
                type="button"
                role="tab"
                aria-controls="v-pills-perifericos"
                aria-selected="false"
              >
                Perifericos
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-aplicaciones-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-aplicaciones"
                type="button"
                role="tab"
                aria-controls="v-pills-aplicaciones"
                aria-selected="false"
              >
                Aplicaciones
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-mainboard-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-mainboard"
                type="button"
                role="tab"
                aria-controls="v-pills-mainboard"
                aria-selected="false"
              >
                Tarjeta madre
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-almacenamiento-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-almacenamiento"
                type="button"
                role="tab"
                aria-controls="v-pills-almacenamiento"
                aria-selected="false"
              >
                Almacenamiento
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-entradasalida-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-entradasalida"
                type="button"
                role="tab"
                aria-controls="v-pills-entradasalida"
                aria-selected="false"
              >
                Entrada y Salida
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-systemAndOther-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-systemAndOther"
                type="button"
                role="tab"
                aria-controls="v-pills-systemAndOther"
                aria-selected="false"
              >
                Sistema y Otros
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-errores-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-errores"
                type="button"
                role="tab"
                aria-controls="v-pills-errores"
                aria-selected="false"
              >
                Reportar error
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-configuracion-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-configuracion"
                type="button"
                role="tab"
                aria-controls="v-pills-configuracion"
                aria-selected="false"
              >
                Configuración
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <div class="tab-content card card-body" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-cpu"
              role="tabpanel"
              aria-labelledby="v-pills-cpu-tab"
            >
              <h3>Información del procesador</h3>

              <div id="containerInfo">
                <!--CPU name-->
                <div class="form-group">
                  <label for="nombreCPU">Nombre</label>
                  <input
                    type="text"
                    name="nombreCPU"
                    id="nombreCPU"
                    disabled
                    class="form-control"
                  />
                </div>

                <!--socket-->
                <div class="form-group">
                  <label for="paqueteCPU">Paquete</label>
                  <input
                    type="text"
                    name="paqueteCPU"
                    id="paqueteCPU"
                    disabled
                    class="form-control"
                  />
                </div>

                <!--Información de nucleos-->
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="numNucleos">Nucleos</label>
                      <input
                        type="text"
                        class="form-control"
                        id="numNucleos"
                        disabled
                      />
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <label for="numThreads">Hilos</label>

                      <input
                        type="text"
                        class="form-control"
                        id="numThreads"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <!--Speed-->
                <div class="form-group">
                  <label for="speedCore">Velocidad</label>
                  <input
                    type="text"
                    name="speedCore"
                    id="speedCore"
                    disabled
                    class="form-control"
                  />
                </div>

                <h6 class="mt-2">Caches</h6>

                <div class="row mt-2">
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >L1 Data</span
                      >
                      <input
                        id="l1data"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >L1 Inst</span
                      >
                      <input
                        id="l1inst"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Level 2</span
                      >
                      <input
                        id="level2"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Level 3</span
                      >
                      <input
                        id="level3"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <!--Chart-->
                <div class="row">
                  <div class="col">
                    <canvas id="speedChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="v-pills-memoria"
              role="tabpanel"
              aria-labelledby="v-pills-memoria-tab"
            >
              <h3>Información de la memoria RAM</h3>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="totalRam">Total</label>
                    <input
                      type="text"
                      name="totalRam"
                      id="totalRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="freeRam">Libre</label>
                    <input
                      type="text"
                      name="freeRam"
                      id="freeRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="sizeDimsRam">Ranuras usadas</label>
                    <input
                      type="text"
                      name="sizeDimsRam"
                      id="sizeDimsRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="formFactor">Factor de forma</label>
                    <input
                      type="text"
                      name="formFactor"
                      id="formFactor"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="typeRam">Tipo</label>
                    <input
                      type="text"
                      name="typeRam"
                      id="typeRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="frequencyRam">Fecuencia</label>
                    <input
                      type="text"
                      name="frequencyRam"
                      id="frequencyRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="voltageConfigured">Voltage</label>
                <input
                  type="text"
                  name="voltageConfigured"
                  id="voltageConfigured"
                  disabled
                  class="form-control"
                />
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="v-pills-red"
              role="tabpanel"
              aria-labelledby="v-pills-red-tab"
            >
              <h3 id="sizeNetworkAdapter">Adaptadores de red</h3>
              <div id="containerNetworkAdapters"></div>
            </div>

            <div
              class="tab-pane fade"
              id="v-pills-xd"
              role="tabpanel"
              aria-labelledby="v-pills-xd-tab"
            >
              ...
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/bootstrap.js"></script>
    <script src="./assets/js/chart.js"></script>
    <!-- You can also require other files to run in this process -->

    <script>
      const { ipcRenderer } = require("electron");

      var speedCanvas = document.getElementById("speedChart");
      var lineChart = null;
      let nombreCPU = document.getElementById("nombreCPU");
      let paqueteCPU = document.getElementById("paqueteCPU");
      let speedCore = document.getElementById("speedCore");
      let numNucleos = document.getElementById("numNucleos");
      let numThreads = document.getElementById("numThreads");
      let l1data = document.getElementById("l1data");
      let l1inst = document.getElementById("l1inst");
      let level2 = document.getElementById("level2");
      let level3 = document.getElementById("level3");

      //Memoria
      let totalRam = document.getElementById("totalRam");
      let freeRam = document.getElementById("freeRam");
      let sizeDimsRam = document.getElementById("sizeDimsRam");
      let formFactor = document.getElementById("formFactor");
      let typeRam = document.getElementById("typeRam");
      let frequencyRam = document.getElementById("frequencyRam");
      let voltageConfigured = document.getElementById("voltageConfigured");

      //Network
      let sizeNetworkAdapter = document.getElementById("sizeNetworkAdapter");
      var containerNetworkAdapters = document.getElementById(
        "containerNetworkAdapters"
      );

      ipcRenderer.on("data", (event, info) => {
        console.log(info);
        nombreCPU.value = info.cpu.manufacturer + " " + info.cpu.brand;

        paqueteCPU.value = info.cpu.socket;
        numNucleos.value = info.cpu.cores;
        numThreads.value = info.cpu.physicalCores;
        speedCore.value = info.cpu.speedMax + " GHz";
        l1data.value = formatBytes(info.cpu.cache.l1d);
        l1inst.value = formatBytes(info.cpu.cache.l1i);
        level2.value = formatBytes(info.cpu.cache.l2);
        level3.value = formatBytes(info.cpu.cache.l3);

        //Memoria
        totalRam.value = info.ram;
        freeRam.value = info.free;
        sizeDimsRam.value = info.memory.length;
        formFactor.value = info.memory[0].formFactor;
        typeRam.value = info.memory[0].partNum;
        frequencyRam.value = info.memory[0].clockSpeed + " MHz";
        voltageConfigured.value = info.memory[0].voltageConfigured;
        loadUINetworkAdapters(info.networkInterfaces);

        var speedData = {
          labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
          datasets: [
            {
              label: "% de uso",
              data: [info.cpuPercentage],
              borderColor: "#3188f9",
              backgroundColor: "transparent",
            },
          ],
        };

        var chartOptions = {
          legend: {
            display: true,
            position: "top",
            labels: {
              boxWidth: 100,
              fontColor: "blue",
            },
          },
          scales: {
            y: {
              // defining min and max so hiding the dataset does not change scale range
              min: 0,
              max: 100,
              ticks: {
                // forces step size to be 50 units
                stepSize: 5,
              },
            },
          },
        };

        lineChart = new Chart(speedCanvas, {
          type: "line",
          data: speedData,
          options: chartOptions,
        });

        setTimeout(function () {
          ipcRenderer.send("newCPUInfo", "newCPUInfo");
        }, 10000);
      });

      ipcRenderer.on("responseNewCPUInfo", (event, info) => {
        let size = lineChart.data.datasets[0].data.length;
        var current = lineChart.data.datasets[0].data;
        console.log(size);

        if (size >= 7) {
          current.shift();
        }
        current.push(info);

        lineChart.data.datasets[0].data = current;
        lineChart.update();
        requestNewInfo();
      });

      window.onload = function () {
        ipcRenderer.send("newInfo", "newInfo");
      };

      function requestNewInfo() {
        setTimeout(function () {
          ipcRenderer.send("newCPUInfo", "newCPUInfo");
        }, 10000);
      }

      function formatBytes(a, b = 2, k = 1024) {
        with (Math) {
          let d = floor(log(a) / log(k));
          return 0 == a
            ? "0 Bytes"
            : parseFloat((a / pow(k, d)).toFixed(max(0, b))) +
                " " +
                ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"][d];
        }
      }

      function loadUINetworkAdapters(adapters) {
        sizeNetworkAdapter.textContent =
          "Adaptadores de red: " + adapters.length;
        for (let i = 0; i < adapters.length; i++) {
          var type =
            '<div class="form-group"><label for="typeNetworkAdapter' +
            i +
            '">Tipo de adaptador</label>';
          containerNetworkAdapters.innerHTML += type;
          var input =
            '<input type="text" disabled id="typeNetworkAdapter' +
            i +
            ' name="typeNetworkAdapter' +
            i +
            '" class="form-control" value="' +
            adapters[i].iface +
            " - " +
            adapters[i].ifaceName +
            '" /></div>';
          containerNetworkAdapters.innerHTML += input;

          var ip =
            '<div class="row"><div class="col"> <div class="form-group"> <label for="ip' +
            i +
            '">IPV4</label><input value="' +
            adapters[i].ip4 +
            '" type="text" disabled name="ip' +
            i +
            '" id="ip' +
            i +
            '" class="form-control" /></div> </div>  <div class="col"> <div class="form-group"> </div> <label for="subnet' +
            i +
            '">SubNet</label> <input value="' +
            adapters[i].ip4subnet +
            '" type="text" disabled name="subnet' +
            i +
            ' id="subnet' +
            i +
            ' class="form-control" />  </div>  <div>';

          containerNetworkAdapters.innerHTML += ip;

          var mac =
            '<div class="form-group"><label for="macAddress' +
            i +
            '">Dirección MAC</label> <input value="' +
            adapters[i].mac +
            '" disabled type="text" name="macAddress' +
            i +
            '" id="macAddress' +
            i +
            '" class="form-control"/> </div> </br> <hr>';

          containerNetworkAdapters.innerHTML += mac;
        }
      }
    </script>
  </body>
</html>
