<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <title>PIC</title>
  </head>

  <body>
    <div class="container">
      <div class="row mt-3">
        <div class="col-4">
          <div class="d-flex align-items-start">
            <div
              class="nav flex-column nav-pills me-3"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <button
                class="nav-link active text-start"
                id="v-pills-cpu-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-cpu"
                type="button"
                role="tab"
                aria-controls="v-pills-cpu"
                aria-selected="true"
              >
                CPU
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-red-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-red"
                type="button"
                role="tab"
                aria-controls="v-pills-red"
                aria-selected="false"
              >
                Red
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-audio-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-audio"
                type="button"
                role="tab"
                aria-controls="v-pills-audio"
                aria-selected="false"
              >
                Audio
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-graficos-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-graficos"
                type="button"
                role="tab"
                aria-controls="v-pills-graficos"
                aria-selected="false"
              >
                Graficos
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-memoria-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-memoria"
                type="button"
                role="tab"
                aria-controls="v-pills-memoria"
                aria-selected="false"
              >
                Memoria
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-perifericos-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-perifericos"
                type="button"
                role="tab"
                aria-controls="v-pills-perifericos"
                aria-selected="false"
              >
                Perifericos
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-aplicaciones-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-aplicaciones"
                type="button"
                role="tab"
                aria-controls="v-pills-aplicaciones"
                aria-selected="false"
              >
                Aplicaciones
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-mainboard-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-mainboard"
                type="button"
                role="tab"
                aria-controls="v-pills-mainboard"
                aria-selected="false"
              >
                Tarjeta madre
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-almacenamiento-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-almacenamiento"
                type="button"
                role="tab"
                aria-controls="v-pills-almacenamiento"
                aria-selected="false"
              >
                Almacenamiento
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-entradasalida-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-entradasalida"
                type="button"
                role="tab"
                aria-controls="v-pills-entradasalida"
                aria-selected="false"
              >
                Entrada y Salida
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-systemAndOther-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-systemAndOther"
                type="button"
                role="tab"
                aria-controls="v-pills-systemAndOther"
                aria-selected="false"
              >
                Sistema y Otros
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-errores-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-errores"
                type="button"
                role="tab"
                aria-controls="v-pills-errores"
                aria-selected="false"
              >
                Reportar error
              </button>

              <button
                class="nav-link text-start"
                id="v-pills-configuracion-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-configuracion"
                type="button"
                role="tab"
                aria-controls="v-pills-configuracion"
                aria-selected="false"
              >
                Configuración
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <div class="tab-content card card-body" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-cpu"
              role="tabpanel"
              aria-labelledby="v-pills-cpu-tab"
            >
              <h3>Información del procesador</h3>

              <div id="containerInfo">
                <!--CPU name-->
                <div class="form-group">
                  <label for="nombreCPU">Nombre</label>
                  <input
                    type="text"
                    name="nombreCPU"
                    id="nombreCPU"
                    disabled
                    class="form-control"
                  />
                </div>

                <!--socket-->
                <div class="form-group">
                  <label for="paqueteCPU">Paquete</label>
                  <input
                    type="text"
                    name="paqueteCPU"
                    id="paqueteCPU"
                    disabled
                    class="form-control"
                  />
                </div>

                <!--Información de nucleos-->
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="numNucleos">Nucleos</label>
                      <input
                        type="text"
                        class="form-control"
                        id="numNucleos"
                        disabled
                      />
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <label for="numThreads">Hilos</label>

                      <input
                        type="text"
                        class="form-control"
                        id="numThreads"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <!--Speed-->
                <div class="form-group">
                  <label for="speedCore">Velocidad</label>
                  <input
                    type="text"
                    name="speedCore"
                    id="speedCore"
                    disabled
                    class="form-control"
                  />
                </div>

                <h6 class="mt-2">Caches</h6>

                <div class="row mt-2">
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >L1 Data</span
                      >
                      <input
                        id="l1data"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >L1 Inst</span
                      >
                      <input
                        id="l1inst"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Level 2</span
                      >
                      <input
                        id="level2"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Level 3</span
                      >
                      <input
                        id="level3"
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <!--Chart-->
                <div class="row">
                  <div class="col">
                    <canvas id="speedChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!--Memoria ram-->
            <div
              class="tab-pane fade"
              id="v-pills-memoria"
              role="tabpanel"
              aria-labelledby="v-pills-memoria-tab"
            >
              <h3>Información de la memoria RAM</h3>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="totalRam">Total</label>
                    <input
                      type="text"
                      name="totalRam"
                      id="totalRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="freeRam">Libre</label>
                    <input
                      type="text"
                      name="freeRam"
                      id="freeRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="sizeDimsRam">Ranuras usadas</label>
                    <input
                      type="text"
                      name="sizeDimsRam"
                      id="sizeDimsRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="formFactor">Factor de forma</label>
                    <input
                      type="text"
                      name="formFactor"
                      id="formFactor"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="memMax">Memoria maxima</label>
                    <input
                      type="text"
                      name="memMax"
                      id="memMax"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="memSlots">Slots</label>
                    <input
                      type="text"
                      name="memSlots"
                      id="memSlots"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="typeRam">Tipo</label>
                    <input
                      type="text"
                      name="typeRam"
                      id="typeRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="frequencyRam">Fecuencia</label>
                    <input
                      type="text"
                      name="frequencyRam"
                      id="frequencyRam"
                      disabled
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="voltageConfigured">Voltage</label>
                <input
                  type="text"
                  name="voltageConfigured"
                  id="voltageConfigured"
                  disabled
                  class="form-control"
                />
              </div>
            </div>

            <!--Adaptadores de red-->
            <div
              class="tab-pane fade"
              id="v-pills-red"
              role="tabpanel"
              aria-labelledby="v-pills-red-tab"
            >
              <h3 id="sizeNetworkAdapter">Adaptadores de red</h3>
              <div id="containerNetworkAdapters"></div>
            </div>

            <!--Graficos-->
            <div
              class="tab-pane fade"
              id="v-pills-graficos"
              role="tabpanel"
              aria-labelledby="v-pills-graficos-tab"
            >
              <h3 id="sizeGraphicsAdapter">Adaptadores graficos</h3>
              <div id="containerGraphicsControllers"></div>
            </div>

            <!--Aplicaciones instaladas-->
            <div
              class="tab-pane fade"
              id="v-pills-aplicaciones"
              role="tabpanel"
              aria-labelledby="v-pills-aplicaciones-tab"
            >
              <h3 id="sizeAllApps">Aplicaciones instaldas</h3>
              <ul class="list-group" id="containerListApps"></ul>
            </div>

            <!--Tarjeta madre-->
            <div
              class="tab-pane fade"
              id="v-pills-mainboard"
              role="tabpanel"
              aria-labelledby="v-pills-mainboard-tab"
            >
              <h3>Tarjeta madre</h3>

              <div class="form-group">
                <label for="manufacturerMainBoard">Fabricante</label>
                <input
                  type="text"
                  name="manufacturerMainBoard"
                  id="manufacturerMainBoard"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="modelMainBoard">Modelo</label>
                <input
                  type="text"
                  name="modelMainBoard"
                  id="modelMainBoard"
                  disabled
                  class="form-control"
                />
              </div>

              <h5 class="mt-2">BIOS</h5>

              <div class="form-group">
                <label for="brandBios">Marca</label>
                <input
                  type="text"
                  name="brandBios"
                  id="brandBios"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="versionBios">Versión</label>
                <input
                  type="text"
                  name="versionBios"
                  id="versionBios"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="releaseDateBios">Fecha de lanzamiento</label>
                <input
                  type="text"
                  name="releaseDateBios"
                  id="releaseDateBios"
                  disabled
                  class="form-control"
                />
              </div>
            </div>

            <!--Audio-->
            <div
              class="tab-pane fade"
              id="v-pills-audio"
              role="tabpanel"
              aria-labelledby="v-pills-audio-tab"
            >
              <h3 id="sizeAudioAdapter">Adaptadores de audio</h3>
              <ul class="list-group" id="containerAudioControllers"></ul>
            </div>

            <!--Alamcenamiento-->
            <div
              class="tab-pane fade"
              id="v-pills-almacenamiento"
              role="tabpanel"
              aria-labelledby="v-pills-almacenamiento-tab"
            >
              <h3 id="sizeDisks">Unidades de Almacenamiento</h3>
              <div id="containerDisks"></div>
            </div>

            <!--IO-->
            <div
              class="tab-pane fade"
              id="v-pills-entradasalida"
              role="tabpanel"
              aria-labelledby="v-pills-entradasalida-tab"
            >
              <h3>Tráfico en la red (IO)</h3>
              <div id="containerIO"></div>
            </div>

            <!--systemAndOther-->
            <div
              class="tab-pane fade"
              id="v-pills-systemAndOther"
              role="tabpanel"
              aria-labelledby="v-pills-systemAndOther-tab"
            >
              <h3>Información del sistema</h3>
              <div class="form-group">
                <label for="nameSystem">Nombre</label>
                <input
                  type="text"
                  name="nameSystem"
                  id="nameSystem"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="archSystem">Arquitectura</label>
                <input
                  type="text"
                  name="archSystem"
                  id="archSystem"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="hostnameSystem">Hostname</label>
                <input
                  type="text"
                  name="hostnameSystem"
                  id="hostnameSystem"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="kernelSystem">Kernel</label>
                <input
                  type="text"
                  name="kernelSystem"
                  id="kernelSystem"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="platformSystem">Plataforma</label>
                <input
                  type="text"
                  name="platformSystem"
                  id="platformSystem"
                  disabled
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="uefiSystem">UEFI</label>
                <input
                  type="text"
                  name="uefiSystem"
                  id="uefiSystem"
                  disabled
                  class="form-control"
                />
              </div>
            </div>

            <!--errores-->
            <div
              class="tab-pane fade"
              id="v-pills-errores"
              role="tabpanel"
              aria-labelledby="v-pills-errores-tab"
            >
              <h3>Reportar un error</h3>

              <div class="form-group">
                <label for="nameError">Error</label>
                <input
                  type="text"
                  name="nameError"
                  id="nameError"
                  required
                  placeholder="Escribe el error del equipo"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="descError">Describe el error</label>
                <textarea
                  name="descError"
                  id="descError"
                  required
                  placeholder="Describe el error del equipo"
                  class="form-control"
                ></textarea>
              </div>

              <div class="d-grid gap-2 mt-3">
                <button
                  class="btn btn-outline-primary"
                  id="sendError"
                  type="button"
                >
                  REPORTAR
                </button>
              </div>
            </div>

            <!--configuracion-->

            <div
              class="tab-pane fade"
              id="v-pills-configuracion"
              role="tabpanel"
              aria-labelledby="v-pills-configuracion-tab"
            >
              <h3>Configuración de la aplicación</h3>

              <fieldset>
                <legend class="mt-4">Notificaciones</legend>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="notificaionesSwitch"
                  />
                  <label class="form-check-label" for="notificaionesSwitch"
                    >Habilita o deshabilita las notificaciones</label
                  >
                </div>
              </fieldset>

              <fieldset>
                <legend class="mt-4">Reinicio remoto</legend>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="rebootRemote"
                  />
                  <label class="form-check-label" for="rebootRemote"
                    >Habilita o deshabilita el reinicio remoto</label
                  >
                </div>
              </fieldset>

              <fieldset>
                <legend class="mt-4">Apagado remoto</legend>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="poweroffRemote"
                  />
                  <label class="form-check-label" for="poweroffRemote"
                    >Habilita o deshabilita el apagado remoto</label
                  >
                </div>
              </fieldset>
            </div>

            <!--Fin-->
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/bootstrap.js"></script>
    <script src="./assets/js/chart.js"></script>
    <!-- You can also require other files to run in this process -->

    <script>
      const { ipcRenderer } = require("electron");

      var speedCanvas = document.getElementById("speedChart");
      var lineChart = null;
      let nombreCPU = document.getElementById("nombreCPU");
      let paqueteCPU = document.getElementById("paqueteCPU");
      let speedCore = document.getElementById("speedCore");
      let numNucleos = document.getElementById("numNucleos");
      let numThreads = document.getElementById("numThreads");
      let l1data = document.getElementById("l1data");
      let l1inst = document.getElementById("l1inst");
      let level2 = document.getElementById("level2");
      let level3 = document.getElementById("level3");

      //Memoria
      let totalRam = document.getElementById("totalRam");
      let freeRam = document.getElementById("freeRam");
      let sizeDimsRam = document.getElementById("sizeDimsRam");
      let formFactor = document.getElementById("formFactor");
      let memMax = document.getElementById("memMax");
      let memSlots = document.getElementById("memSlots");
      let typeRam = document.getElementById("typeRam");
      let frequencyRam = document.getElementById("frequencyRam");
      let voltageConfigured = document.getElementById("voltageConfigured");

      //Network
      let sizeNetworkAdapter = document.getElementById("sizeNetworkAdapter");
      var containerNetworkAdapters = document.getElementById(
        "containerNetworkAdapters"
      );

      //graphics
      let sizeGraphicsAdapter = document.getElementById("sizeGraphicsAdapter");
      var containerGraphicsControllers = document.getElementById(
        "containerGraphicsControllers"
      );

      //apps
      let sizeAllApps = document.getElementById("sizeAllApps");
      let containerListApps = document.getElementById("containerListApps");

      //mainboard
      let manufacturerMainBoard = document.getElementById(
        "manufacturerMainBoard"
      );
      let modelMainBoard = document.getElementById("modelMainBoard");
      let brandBios = document.getElementById("brandBios");
      let versionBios = document.getElementById("versionBios");
      let releaseDateBios = document.getElementById("releaseDateBios");

      //audio
      let sizeAudioAdapter = document.getElementById("sizeAudioAdapter");
      let containerAudioControllers = document.getElementById(
        "containerAudioControllers"
      );

      //almacenamiento
      let sizeDisks = document.getElementById("sizeDisks");
      let containerDisks = document.getElementById("containerDisks");

      // IO
      let containerIO = document.getElementById("containerIO");

      //sytem and other
      let nameSystem = document.getElementById("nameSystem");
      let archSystem = document.getElementById("archSystem");
      let hostnameSystem = document.getElementById("hostnameSystem");
      let kernelSystem = document.getElementById("kernelSystem");
      let platformSystem = document.getElementById("platformSystem");
      let uefiSystem = document.getElementById("uefiSystem");

      //error
      let sendError = document.getElementById("sendError");

      //configuración
      let notificaionesSwitch = document.getElementById("notificaionesSwitch");
      let rebootRemote = document.getElementById("rebootRemote");
      let poweroffRemote = document.getElementById("poweroffRemote");

      ipcRenderer.on("data", (event, info) => {
        console.log(info);
        nombreCPU.value = info.cpu.manufacturer + " " + info.cpu.brand;

        paqueteCPU.value = info.cpu.socket;
        numNucleos.value = info.cpu.cores;
        numThreads.value = info.cpu.physicalCores;
        speedCore.value = info.cpu.speedMax + " GHz";
        l1data.value = formatBytes(info.cpu.cache.l1d);
        l1inst.value = formatBytes(info.cpu.cache.l1i);
        level2.value = formatBytes(info.cpu.cache.l2);
        level3.value = formatBytes(info.cpu.cache.l3);

        //Memoria
        totalRam.value = info.ram;
        freeRam.value = info.free;
        sizeDimsRam.value = info.memory.length;
        formFactor.value = info.memory[0].formFactor;
        memMax.value = formatBytes(info.baseboard.memMax);
        memSlots.value = info.baseboard.memSlots;
        typeRam.value = info.memory[0].partNum;
        frequencyRam.value = info.memory[0].clockSpeed + " MHz";
        voltageConfigured.value = info.memory[0].voltageConfigured;
        containerNetworkAdapters.innerHTML = "";
        loadUINetworkAdapters(info.networkInterfaces);
        containerGraphicsControllers.innerHTML = "";
        loadUIGraphicsControllers(info.graphics.controllers);
        containerListApps.innerHTML = "";
        loadUIAllApps(info.apps);
        manufacturerMainBoard.value = info.baseboard.manufacturer;
        modelMainBoard.value = info.baseboard.model;
        brandBios.value = info.bios.vendor;
        versionBios.value = info.bios.version;
        releaseDateBios.value = info.bios.releaseDate;
        containerAudioControllers.innerHTML = "";
        loadUIAudioAdapters(info.audio);
        containerDisks.innerHTML = "";
        loadUIDisks(info.diskLayout);
        containerIO.innerHTML = "";
        loadUIIO(info.networkStats);

        //system
        nameSystem.value = info.osInfo.distro;
        archSystem.value = info.osInfo.arch;
        hostnameSystem.value = info.osInfo.hostname;
        kernelSystem.value = info.osInfo.kernel;
        platformSystem.value = info.osInfo.platform;
        uefiSystem.value = info.osInfo.uefi;

        //config
        notificaionesSwitch.checked = info.configOptios.notifications;
        rebootRemote.checked = info.configOptios.reboot;
        poweroffRemote.checked = info.configOptios.poweroff;

        var speedData = {
          labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
          datasets: [
            {
              label: "% de uso",
              data: [info.cpuPercentage],
              borderColor: "#3188f9",
              backgroundColor: "transparent",
            },
          ],
        };

        var chartOptions = {
          legend: {
            display: true,
            position: "top",
            labels: {
              boxWidth: 100,
              fontColor: "blue",
            },
          },
          scales: {
            y: {
              // defining min and max so hiding the dataset does not change scale range
              min: 0,
              max: 100,
              ticks: {
                // forces step size to be 50 units
                stepSize: 5,
              },
            },
          },
        };

        lineChart = new Chart(speedCanvas, {
          type: "line",
          data: speedData,
          options: chartOptions,
        });

        setTimeout(function () {
          ipcRenderer.send("newCPUInfo", "newCPUInfo");
        }, 10000);
      });

      ipcRenderer.on("responseNewCPUInfo", (event, info) => {
        let size = lineChart.data.datasets[0].data.length;
        var current = lineChart.data.datasets[0].data;
        console.log(size);

        if (size >= 7) {
          current.shift();
        }
        current.push(info);

        lineChart.data.datasets[0].data = current;
        lineChart.update();
        requestNewInfo();
      });

      sendError.addEventListener("click", function (evt) {
        console.log("Error enviado");
      });

      window.onload = function () {
        ipcRenderer.send("newInfo", "newInfo");
      };

      function requestNewInfo() {
        setTimeout(function () {
          ipcRenderer.send("newCPUInfo", "newCPUInfo");
        }, 10000);
      }

      function formatBytes(a, b = 2, k = 1024) {
        with (Math) {
          let d = floor(log(a) / log(k));
          return 0 == a
            ? "0 Bytes"
            : parseFloat((a / pow(k, d)).toFixed(max(0, b))) +
                " " +
                ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"][d];
        }
      }
    </script>
    <script src="./assets/js/ui/network.js"></script>
    <script src="./assets/js/ui/graphics.js"></script>
    <script src="./assets/js/ui/apps.js"></script>
    <script src="./assets/js/ui/audio.js"></script>
    <script src="./assets/js/ui/disk.js"></script>
    <script src="./assets/js/ui/io.js"></script>
    <script src="./assets/js/renderer.js"></script>
  </body>
</html>
